@import url(http://fonts.googleapis.com/css?family=Oswald&subset=latin,latin-ext);

* {
    margin: 0;
    padding: 0;
}

body {
	background: #ddd;
	font: normal normal 13px/1.2em Arial, monospace;
}

.container {
	width: 600px;
	margin: 20px auto;
	background: white;
	padding: 18px;
	border-radius: 5px;
}

h2 {
	font: normal normal 28px/1.3em Oswald;
	text-transform: uppercase;
	margin-bottom: 12px;
}

li {
	list-style-type: none;
	padding: 8px;
	font-size: 16px;
	color: #333;
}

author {
	float: right;
	padding: 5px;
	background: #629829;
	color: white;
	border-radius: 4px;
	margin-left: 5px;
	margin-top: -5px;
}

time {
	float: right;
	padding: 5px;
	color: white;
	background: #c7b101;
	border-radius: 4px;
	margin-top: -5px;
}

.notime {
	background: #ccc;
}

li[done=true]:before {
    content: "☑ ";
}

li[done=false]:before {
    content: "☐ ";
}

li[done=false] {
    background: #eee;
}

li:empty:before {
    content: "";
}