@font-face {
    font-family: 'CMU Typewriter Text';
    src: url('cmuntt-webfont.eot');
    src: url('cmuntt-webfont.eot?#iefix') format('embedded-opentype'),
         url('cmuntt-webfont.woff') format('woff'),
         url('cmuntt-webfont.ttf') format('truetype'),
         url('cmuntt-webfont.svg#cmu_typewriter_textregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CMU Typewriter Text';
    src: url('cmuntb-webfont.eot');
    src: url('cmuntb-webfont.eot?#iefix') format('embedded-opentype'),
         url('cmuntb-webfont.woff') format('woff'),
         url('cmuntb-webfont.ttf') format('truetype'),
         url('cmuntb-webfont.svg#cmu_typewriter_textbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CMU Typewriter Text';
    src: url('cmunst-webfont.eot');
    src: url('cmunst-webfont.eot?#iefix') format('embedded-opentype'),
         url('cmunst-webfont.woff') format('woff'),
         url('cmunst-webfont.ttf') format('truetype'),
         url('cmunst-webfont.svg#cmu_typewriter_textoblique') format('svg');
    font-weight: normal;
    font-style: italic;
}