// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article {
    background: #e1e1e1;
    box-shadow: 0 1px 1px #ccc;
    margin-bottom: 32px;
    position: relative;
    
    .unpublished {
        position: absolute;
    	bottom: 5px;
    	right: 0;
        
        a {
            background: #ccc;
            color: white;
            text-decoration: none;
        	padding: 5px 9px;
        	text-transform: uppercase;
        	font-size: 13px;
            
            &:hover {
                background: #888;
            }
        }
    }
    
    &:last-child {
        margin-bottom: 0px;
    }
    
    .tags {
        font-size: 13px;
        font-weight: bold;
        margin: 14px 8px 8px;
    }
    
    section {
        padding: 30px 35px;
        
        & > *:not(figure) {
            max-width: 650px;
        }
    }
    
    a.img {
        display: inline-block;
        margin: 0 3px 17px;
    }
    
    img {
        display: block;
        box-shadow: 0 1px 3px #ccc;
        border-radius: 3px;
        max-width: 100%;
        height: auto;
        
        &.noshadow {
            box-shadow: none;
        }
    }

    &.design h3 {
        text-indent: 4px;
        font-size: 28px;
    }
    
    &.blog {
        background: #fafafa;
        
        h3 {
            font-size: 26px;
        }
        
        &.single h3 {
            font-size: 32px;
        }
        
        blockquote {
            font-family: "Droid Serif", Georgia, Times, serif;
            font-style: italic;
            margin: 18px 15px;
            font-size: 15px;
            line-height: 1.5em;
            
            cite {
                display: block;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-style: normal;
                text-transform: uppercase;
                font-size: 13px;
                margin: 8px 0;
                color: #777;
            }
        }
    }
    
    &.code {
        background: #fafafa;
        
        h3 {
            font-size: 20px;
            font-weight: normal;
            
            a {
                font-size: 1.3em;
                font-weight: bold;
            }
        }
    }
    
    &.single {
        margin-bottom: 0;
        min-height: 100%;
        
        h3 {
            font-size: 24px;
            padding: 8px 0;
        }
    }
    
    h3 a {
        text-decoration: none;
        color: #0080aa;
            
        &.read_more {
            font-weight: 200;
            font-size: 14px;
        }
    }
    
    a:hover img {
        opacity: 0.8;
    }
    
    p {
        line-height: 1.5em;
        padding: 6px;
    }
}

.away {
    background-attachment: fixed;
    
    #floater {
        overflow: visible;
        width: 100%;
        margin: 0;
        height: 100%;
    }
    
    #main {
        margin-left: 270px;
        
        h1 {
        	font-weight: 200;
        	font-size: 14px;
        	text-transform: uppercase;
        	margin: -10px 0 10px;
        }
    }
    
    #head {
        position: fixed;
        margin-left: 20px;
        top: 50px;
        border-right: 0;
    }
    
    #mustelid {
        background-size: 138px;
        height: 138px;
        width: 138px;
    }
}

@media all and (max-width: 775px) {
    .away {
        #main {
            margin-left: 240px;
        }
    
        #head {
            width: 190px;
        }
        
        article section {
            font-size: 0.95em;
        }
    }
}

@media only screen and (max-width: 580px), only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .away {
        #head {
            position: relative;
            float: none;
            width: 100%;
            margin-left: 0;
            margin-bottom: 20px;
            top: 0;
            text-align: center;
            padding: 0;
            
            h2 {
                font-size: 1.2em;
            }
            
            h2.real-subtitle {
                display: none;
            }
            
            #mustelid {
                display: none;
            }
            
            #title {
                float: none;
                margin-top: 10px;
            }
        }
        
        #floater, #main {
            height: auto;
        }
        
        #main {
            margin-left: 0;
            
            article {
                &.single {
                    min-height: auto;
                }
                
                figure {
                    margin-right: 7px;
                }
                
                img {
                    max-width: 100%;
                }
                
                a.img {
                    display: block;
                    margin: 10px 0;
                    text-align: center;
                
                    img {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .surprise {
        display: inline !important;
    }
    
    body.away {
        font-size: 2.8em;
        
        article {
            * {
                max-width: 100% !important;
            }
            
            h3 {
                font-size: 60px !important;
                margin-top: 20px !important;
                
                a {
                    font-size: 40px !important;
                }
            }
            
            &.code h3 a:first-child {
                font-size: 80px !important;
            }
        }
        
        #mustelid {
            display: none;
        }
        
        #title {
            font-size: 120px;
        }
    }
}