body.home {
    #ajax {
        display: none;
    }
    
    #mustelid {
        height: 158px;
        width: 158px;
    }
    
    #links {
        width: 120px;
        float: right;
        padding-left: 20px;
        font-size: 24px;
        color: #666;
        margin-top: 103px;
    
        li {
            list-style: none;
            margin-top: 19px;
            white-space: nowrap;
        
            .surprise {
                display: none;
                font-size: 16px;
  
                a {
                  font-size: 24px;
                }
            }
  
            &:hover .surprise {
              display: inline;
            }
        }
  
        a {
          text-decoration: none;
          -webkit-font-smoothing: antialiased;
        }
    }
}