body {
    -webkit-text-size-adjust: 100%;
}

code, pre {
    font-family: "CMU Typewriter Text", Menlo, monospace;
}

article.design figure {
    background: #f2f2f2;
            
    .linenos {
        background: #d2d2d2;
    }
}
    
figure {
    overflow: auto;
    background: #eee;
    border-radius: 3px;
    margin: 20px -35px 20px 7px;
    font-size: 17px;
    line-height: 1.3em;
            
    table {
        border-spacing: 0;
                
        .linenos {
            background: #ddd;
            padding: 6px 9px;
        }
            
        .code {
            padding: 0 10px;
        }
            
        pre {
            color: #555;
            
            .kr, .kt, .o {
                font-weight: bold;
            }
    
            .cm {
                color: #998;
                font-style: italic;
            }
    
            .kr, .k, .ow {
                color: black;
            }
        
            .o {
                color: black;
            }
        
            .kt {
            	color: #445588;
            }

            .s {
            	color: #d14;
            }

            .nf {
            	color: #900;
            }
        
            .nb {
                color: #0086B3;
            }
        
            .m {
                color: #099;
            }
        
            .nt {
                color: #000080;
            }
        }
    }
}