body {
    -webkit-text-size-adjust: 100%;
}

code, pre {
    font-family: "CMU Typewriter Text", Menlo, monospace;
}

article.design figure {
    background: #f2f2f2;
            
    .linenos {
        background: #d2d2d2;
    }
}
    
figure {
    overflow: auto;
    background: #eee;
    border-radius: 3px;
    margin: 20px -35px 20px 7px;
    font-size: 17px;
    line-height: 1.3em;
            
    table {
        border-spacing: 0;
                
        .linenos {
            background: #ddd;
            padding: 6px 9px;
        }
            
        .code {
            padding: 0 10px;
        }
            
        pre {
            color: black;
            
            .nn {
                color: #555;
            }
            
            .err {
                color: #a61717;
                background-color: #e3d2d2;
            }
            
            .kr, .kt, .o {
                font-weight: bold;
            }
    
            .cm, .c1 {
                color: #998;
                font-style: italic;
            }
            
            .cp {
                color: #999;
                font-weight: bold;
            }
    
            .kr, .k, .ow {
                font-weight: bold;
            }
        
            .kt {
            	color: #445588;
            }

            .s, .s1, .s2 {
            	color: #d14;
            }

            .nf {
            	color: #900;
                font-weight: bold;
            }
        
            .nb {
                color: #0086B3;
            }
            
            .nc {
                color: #445588;
                font-weight: bold;
            }
        
            .m, .mi {
                color: #099;
            }
        
            .nt {
                color: #000080;
            }
            
            .ss {
                color: #990073;
            }
            
            .no, .nv {
                color: #008080;
            }
        }
    }
}