<% unless @msg.valid? %>
    <% @msg.errors.messages.each do |field, err| %>
        $(".error.<%= field %>").html("<%= escape_javascript err.first %>")
    <% end %>
    console.log("<%= escape_javascript @msg.inspect %>")
    $("#mask").hide();
<% else %>
    $("#mask").addClass("stopped");
    $("#form").animate({height: '0px'}, {duration: 600, complete: function() {
        $(this).html("").delay(300).animate({height: '80px'}, {duration: 600, complete: function() {
            $(this).html("<h1 style='opacity: 0'>Message sent.</h1><h3 style='opacity: 0'>I'll get back to you ASAP.</h3>").children("*").animate({opacity: '1.0'}, {complete: function() {
                setTimeout(function() {
                    $("body").removeClass("box-shown");
                    setTimeout(function() {
                        $("#main").html("");
                    }, 1000)
                }, 2500);
            }});
        }})
    }});
<% end %>